<!DOCTYPE html>
<html>
 
<head>
    <title>ParliaSent: Hansard Sentiment Analysis</title>
</head>

<body>
    <h1>ParliaSent: Hansard Sentiment Analysis</h1>
    <h3>The ParliaSent dataset has been processed by a sentiment analysis model, predicting labels of select speech content by members of parliament over the past ten years. This web application exists as a proof of concepts, providing a means to query the resulting data and visualise the results.</h3>

    <a href="{{url_for("index")}}">Home</a>
    <a href="{{url_for("about")}}">Search</a>
    <a href="{{url_for("about")}}">About</a>
    
{% block body %}
<p>This is a Flask application.</p>
{% endblock %}
</body>
 
</html>